:root {
  --primary: #1f5f8b;
  --primary-dark: #253b6e;
  --primary-light: #d2ecf9;
  --accent: #1891ac;
  --font-main: VT323;
}

@font-face {
  font-family: VT323;
  src: url(assets/VT323-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 12pt;
  background-color: var(--primary-light);
}

#content {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  height: 120px;
}

#image-div {
  background-color: var(--primary-dark);
  background-image: url(assets/battleship-header-bg.jpeg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 10px 1px var(--primary);
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo {
  height: 100%;
  padding: 10px;
}

section {
  background-color: var(--primary-light);
}

#game-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--primary-dark);
  border-radius: 5px;
  width: 30%;
  height: 300px;
  margin: 5% auto;
  padding: 15px;
  box-shadow: 0px 0px 3px 1px var(--accent);
  color: var(--primary-light);
  font-size: 2rem;
  font-family: var(--font-main);
}

#player1-info {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

#player1-info input {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-family: var(--font-main);
  font-size: 1.6rem;
  border-radius: 5px;
  width: 40%;
}

#start-btn {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-family: var(--font-main);
  font-size: 1.5rem;
  border-radius: 5px;
  width: 80px;
  height: auto;
}

.board {
  display: flex;
  justify-content: space-evenly;
}

#player-ships,
#computer-ships {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 75%;
  background-color: var(--primary);
  border: 2px solid var(--primary-light);
  border-radius: 5px;
  box-shadow: 0px 0px 3px 2px var(--primary);
}

#player-ships img,
#computer-ships img {
  width: 70%;
  padding: 10px;
}

#player-grid,
#computer-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 400px;
  height: 400px;
  background-color: var(--primary-light);
  border-radius: 5px;
  border: 4px solid var(--accent);
  box-shadow: 0px 0px 5px 2px var(--primary);
}

#board-container {
  display: none;
  justify-content: space-around;
  margin-top: 10%;
}

.square {
  border: 1px solid var(--accent);
}

#computer-grid .square {
  background-color: var(--primary-dark);
}

#computer-grid .square:hover {
  background-color: var(--primary);
}